/*
Credit: http://www.templatemo.com
*/

body {
	margin: 0px;
	padding: 0px;
	color: #333;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	line-height: 1.5em; 
	background-color: #fff;
	background-image: url(images/body.jpg);
	background-repeat: repeat-x;
	background-position: top;
}

a, a:link, a:visited { color: #2d7ad1; text-decoration: none; }
a:hover { color: #CC0000; text-decoration: underline; }

p { margin: 0 0 10px 0; padding: 0; }
img { border: none; }

h1 { font-size: 40px; font-weight: normal; margin: 0 0 30px 0; padding: 5px 0; }
h2 { font-size: 28px; font-weight: normal; margin: 0 0 30px 0; padding: 0; }
h3 { font-size: 20px; margin: 0 0 10px 0; padding: 0; color: #333; font-weight: normal; }
h4 { font-size: 16px; margin: 0 0 15px 0; padding: 0; }
h5 { font-size: 16px; margin: 0 0 10px 0; padding: 0; color: #333; }
h6 { font-size: 14px; margin: 0 0 5px 0; padding: 0; color: #333; }

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

.image img {
	border: 1px solid #ccc;
	 padding: 4px;
	 background: #fff; 
	 margin-bottom: 10px; 
}
	

.image_wrapper { border: 1px solid #ccc; padding: 4px; background: #fff; margin-bottom: 10px; }
.image_fl { float: left; margin: 3px 15px 0 0; }
.image_fr { float: right; margin: 3px 0 0 15px; }

#templatemo_wrapper { 
	width: 980px;
	margin: 0 auto;
}

#sidebar {
	float: left; 
	width: 260px;
	padding: 40px;
	background: url(images/sidebar.jpg) top no-repeat;
}

#site_title {
	margin-bottom: 60px;
}

#sidebar h3 {
	border-left: 5px solid #f19005;
	padding-left: 10px;
}

.sidebar_box {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 2px solid #CCC;
}

.sidebar_box .sidebar_content {
	padding-left: 30px;
}

#content {
	float: right;
	width: 600px;
	padding: 0 20px 20px;
}

.content_box { margin-bottom: 30px; padding-bottom: 30px; border-bottom: 2px solid #ccc; } 

#language_selection {
	height: 20px;
	margin-bottom: 60px;
	margin-top: 70px;
	text-align: right;
	font-size: 12px;
	font-weight: bold;		
}

#language_selection a {
	color: #b3d3f8;
}

#language_selection a:hover {
	color: #000;
	text-decoration: none;
}

#content h2 {
	border-left: 5px solid #f19005;
	padding-left: 15px;
}

#content h3 {
	border-left: 5px solid #f19005;
	padding-left: 15px;
}

#content h4 {
	margin-left: 20px;
	border-left: 5px solid #f19005;
	padding-left: 15px;
}

.horizontal_line {
	margin-bottom: 30px;
	border-bottom: 2px solid #ccc;
}


.content_box_inner {
	padding-left: 20px;
}


#footer_wrapper {
	width: 100%;
	background: #2068b9;
	border-top: 5px solid #99c5f8;
}

#footer { 
	width: 960px;
	margin: 0 auto;
	padding: 20px 10px;
	text-align: center;
	color: #61a4f0;
}

table.properties {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;	
	border:solid #D4D4D4 1.0pt;
	border-collapse:collapse;
}

table.properties th {
	background:#EDECEB;
	border:solid #D4D4D4 1.0pt;
	border-collapse:collapse;
}

table.properties td {
	border:solid #D4D4D4 1.0pt;
	border-collapse:collapse;	
}

.code {
	font-weight: bold;
	padding: 5px 10px 0px 10px;
	margin-bottom: 10px;
	background-color: #EDECEB;
}
