# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

### Above combination will ignore all files without extension ###

*.o
*.so
*.so.*
moc_*
ui_*
qrc_*
zenom/bin
Makefile
*.ko*
*.cmd
*.txt
.cache.mk
*.order
*.symvers
*.mod.c
.tmp_versions
